name: Wake Streamlit Apps

on:
  schedule:
    # été (mars -> octobre) : 10h Paris = 08h UTC
    - cron: "0 8 * 3-10 *"

    # hiver (novembre -> février) : 10h Paris = 09h UTC
    - cron: "0 9 * 11,12,1,2 *"
  workflow_dispatch:

jobs:
  wake:
    runs-on: ubuntu-latest
    env:
      PLAYWRIGHT_BROWSERS_PATH: 0

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install playwright
          python -m playwright install --with-deps chromium

      - name: Run wake script
        run: |
          python -m playwright --version
          python wake.py
